{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block header %} <h1 class="page-header">Accounts</h1>  {% endblock %}

{% block main %}
    <table id="accTable" class="tablesorter tablesorter-bootstrap table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Company Name</th>
                <th>Brand Id</th>
                <th>Email</th>
                <th> Update </th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.sl_acc_id }}</td>
                <td>{{ account.firstName }}</td>
                <td>{{ account.lastName }}</td>
                <td>{{ account.companyName }}</td>
                <td>{{ account.sl_acc_brand_id }}</td>
                <td>{{ account.email }}</td>
                <td>
                {% if account.sl_api_key %}
                    <a href="{% url 'update_account' account.sl_acc_id %}">
                        <i class="fa fa-pencil-square-o fa-2x"  title="Edit account"></i>
                    </a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}


{% block extra_js %}
    <script language="javascript">
        $(function(){
            $("#accTable").tablesorter();
        });
    </script>
{% endblock %}

