{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %} <h1 class="page-header">Brands</h1>  {% endblock %}

{% block main %}
    {% comment %}
    <label><input data-delivery="p" name="delivery" type="radio" checked /> popup</label>
    <label><input data-delivery="d" name="delivery" type="radio" /> download</label>
    <button class="download btn btn-primary btn-lg">Get CSV</button>
    {% endcomment %}
    <table id="brandTable" class="tablesorter tablesorter-bootstrap table table-striped">
        <thead>
            <tr>
                <th>Brand Id</th>
                <th>Key Name</th>
                <th>Name</th>
                <th>Long Name</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.sl_brand_id }}</td>
                <td>{{ brand.keyName }}</td>
                <td>{{ brand.name }}</td>
                <td>{{ brand.longName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extra_js %}
    {% comment %}
    <script language="javascript">
        $(function(){
            var $table = $('table');

            $('.download').click(function(){
                // get delivery type
                var delivery = $('input[name=delivery]:checked').attr('data-delivery');
                $table.data('tablesorter').widgetOptions.output_delivery = delivery;
                $table.trigger('outputTable');
            });
            $("#brandTable").tablesorter({
                theme: 'blue',
                output_delivery: 'popup',
                output_saveFileName: 'mytable.csv',
                output_callback: function (data) {
                        return true;
                },
                output_callbackJSON: function ($cell, txt, cellIndex) {
                    return txt + '(' + (cellIndex + col) + ')';
                }
            });
        });
    </script>
     {% endcomment %}
{% endblock %}

