{% extends "accounts/auth_base.html" %}
{% load crispy_forms_tags %}

{% block navigation %}
{% endblock %}


{% block main %}
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% block form_heading %}Please Sign In {% endblock %}</h3>
                    </div>
                    <div class="panel-body">
                        {% block form %}
                          {% crispy form %}
                        {% endblock form %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


