{% extends "base.html" %}
{% load staticfiles filters %}
{% block header %} <h1 class="page-header">Open Invoices</h1>  {% endblock %}

{% block extra_css %}
      <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.5/css/theme.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block main %}

    <button class="download btn btn-primary">Download CSV</button>
    <table id="reportTable"  border="3" class="table table-striped tablesorter">
        <thead>
            <tr>
                <th data-sorter="false">Company name</th>
                <th data-sorter="false">End user</th>
                <th data-placeholder="Month" class="filter-select filter-match">Date</th>
                <th data-sorter="false">Invoice Id</th>
                <th data-sorter="false">Status</th>
                <th data-sorter="false">Category</th>
                <th data-sorter="false">Description</th>
                <th data-sorter="false">Recurring</th>
                <th data-sorter="false">One Time</th>
            </tr>
        </thead>
        <tbody>
        {% for brand, account_invoices in invoices.items %}
            {% for account_id, ai in account_invoices.items %}
                {% for invoice_id, ii in ai.items %}
                    {% with ii.bitems|length as len %}
                        {% for item in ii.bitems %}

                            <tr>
                            <!--
                              if forloop.first %}
                                    <td rowspan="{{ len}}">
                            -->
                                    <td  >{{ ii.invoice.companyName }}</td>
                                     <td >{{ ii.invoice.companyName|end_user }}</td>
                                    <td>{{ ii.invoice.createDate |date}}</td>
                                    <td >{{ ii.invoice.id }}</td>
                                    <td >{{ ii.invoice.statusCode}}</td>
                                    <td >{{ item.billingItem.item.keyName }}</td>

                                <td>{{ item.description }}</td>
                                <td>{{ item.recurringAfterTaxAmount }}</td>
                                <td>{{ item.oneTimeAfterTaxAmount }}</td>
                            </tr>
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <div id="pager"></div>

{% endblock %}

{% block extra_js %}

    <!-- tasblesorter -->
     <script type="text/javascript" src="{% static 'site/js/jquery.tablesorter.js' %}"></script>
     <script type="text/javascript" src="{% static 'site/js/jquery.tablesorter.widgets.js' %}"></script>
     <script type="text/javascript" src="{% static 'site/js/jquery.tablesorter.pager.js' %}"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.5/js/widgets/widget-output.min.js"></script>
<script language="javascript">
    $(function() {
        $('.download').click(function () {
            $('#reportTable').trigger('outputTable');
        });
        $('table').tablesorter({
            theme: 'bootstrap',
            widthFixed: false,
            //headerTemplate: '{content} {icon}',
            widgets: ["zebra", "uitheme", "output", "filter"],
            headers: {sorter:false, 0: { filter: false}, 1: { filter: false}, 3: { filter: false}, 4: { filter: false},
                        5: { filter: false}, 6: { filter: false}, 7: { filter: false}, 8: { filter: false}},
            widgetOptions: {
                filter_cssFilter: ['selectmenu'],

                filter_cellFilter : '',
                filter_childRows : false,
                filter_columnFilters : true,
                filter_columnAnyMatch: true,
                filter_defaultFilter : {},
                filter_excludeFilter : {},
                filter_useParsedData : false,

                filter_functions: {
                2: {
                        "Jan" : function(e,n,f,i){
                           return  0 == new Date(e).getMonth();
                        },
                        "Feb" : function(e,n,f,i){
                           return  1 == new Date(e).getMonth();
                        },
                        "March" : function(e,n,f,i){
                            return 2 == new Date(e).getMonth();
                        },
                        "April" : function(e,n,f,i){
                            return 3 == new Date(e).getMonth();
                        },
                        "May" : function(e,n,f,i){
                            return 4 == new Date(e).getMonth();
                        },
                        "Jun" : function(e,n,f,i){
                            return 5 == new Date(e).getMonth();
                        },
                        "Jul" : function(e,n,f,i){
                            return 6 == new Date(e).getMonth();
                        },
                        "Aug" : function(e,n,f,i){
                            return 7 == new Date(e).getMonth();
                        },
                        "Sep" : function(e,n,f,i){
                            return 8 == new Date(e).getMonth();
                        },
                        "Oct" : function(e,n,f,i){
                            return 9 == new Date(e).getMonth();
                        },
                        "Nov" : function(e,n,f,i){
                            return 10 == new Date(e).getMonth();
                        },
                        "Dec" : function(e,n,f,i){
                            return 11 == new Date(e).getMonth();
                        }
                    }
                },
                filter_filteredRow: 'filtered',
                //   filter_reset        : demos[groupIndex] + ' .reset',
                output_separator: ',',         // ',' 'json', 'array' or separator (e.g. ',')
                output_ignoreColumns: [],          // columns to ignore [0, 1,... ] (zero-based index)
                output_includeFooter: true,        // include footer rows in the output
                output_dataAttrib: 'data-name', // data-attribute containing alternate cell text
                output_headerRows: true,        // output all header rows (multiple rows)
                output_delivery: 'd',         // (p)opup, (d)ownload
                output_saveRows: 'f',         // (a)ll, (f)iltered or (v)isible
                output_duplicateSpans: true,        // duplicate output data in tbody colspan/rowspan
                output_replaceQuote: '\u201c;',   // change quote to left double quote
                output_includeHTML: true,        // output includes all cell HTML (except the header cells)
                output_trimSpaces: false,       // remove extra white-space characters from beginning & end
                output_wrapQuotes: false,       // wrap every cell output in quotes
             //   output_popupStyle: 'width=580,height=310',
                output_saveFileName: 'invoices.csv',
                // callbackJSON used when outputting JSON & any header cells has a colspan - unique names required
                output_callbackJSON: function ($cell, txt, cellIndex) {
                    return txt + '(' + cellIndex + ')';
                },
                // callback executed when processing completes
                // return true to continue download/output
                // return false to stop delivery & do something else with the data
                output_callback: function (config, data) {
                    return true;
                },
                // the need to modify this for Excel no longer exists
                output_encoding: 'data:application/octet-stream;charset=utf8,'

            }
       });
        /*
            .bind("sortStart", function() {
            var hasRowspans = false;
            $('[rowspan]', this).each(function() {
                hasRowspans = true;
                var rowspan = parseInt($(this).attr('rowspan'));
                $(this).removeAttr('rowspan');
                var trIndex = $(this).parentsUntil('table').children('tr').index($(this).parent());
                var tdIndex = $(this).parent().children('td').index(this);
                for (var tr = trIndex + 1; tr < trIndex + rowspan; ++tr) {
                    var $row = $(this).parentsUntil('table').children('tr').eq(tr);
                    if (tdIndex == 0) $row.prepend($(this).clone());
                    else $row.children('td').eq(tdIndex - 1).after($(this).clone());
                }
            });
            if (hasRowspans) $(this).trigger('update');
           });
       */
    }); //onload

 </script>
{% endblock %}

